PORT=2211
DATABASE_URL="postgresql://username:passw0rd@ip.ip.ip.ip:port/open-api"
REDIS_URL=redis://username:password@ip.or.domain:port
#SERVER_URL="http://localhost:${PORT}"
SERVER_URL="https://open-api.duonguyen.site"
CORS_ORIGIN="*"

MAIL_HOST=smtp.duonguyen.site
MAIL_USER=open-api@duonguyen.site
MAIL_PASSWORD='YOUR PASS WORD HERE'
MAIL_FROM=open-api@duonguyen.site
